<header>
  <h1><%= @qrtag.qrcode.code %> of label <%= @label.code %> of batch <%= @label.batch.serialnumber %></h1>
  <p>redirect: <%= link_to @qrtag.qrcode.baseurl, @qrtag.qrcode.baseurl %> </p>

</header>
