<% content_for :header do %>
    <h1><%= @qrcode.code %></h1>
    <h6>Nr. <%= @qrcode.referencenumber %> of the label of Coperniucs Beer</h6>
    <%= button_to "Edit", edit_qrcode_path(@qrcode) %>
    <%= button_to "Destroy", @qrcode, method: :delete %>
<% end %>

      