<section class="mb-6">
	<H2>Labels</H2>
	<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
		<% batch.labels.each do |label| %>
			<%= link_to label, class: "block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" do %>

			    <h4 class="mb-2 tracking-tight text-gray-900 dark:text-white">
			    	<%= label.name %>		
			    </h4>
			    <p class="font-normal text-gray-700 dark:text-gray-400">
			    	<%= label.description %>
			    </p>
			 <% end %>
		<% end %>

		<%= link_to new_batch_label_path(@batch), class: "block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" do %>

		    <h4 class="mb-2 tracking-tight text-gray-900 dark:text-white inline-flex">
				<svg class="w-8 h-8 font-bold inline mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path id="Vector" d="M8 12H12M12 12H16M12 12V16M12 12V8M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
		    	New label
		    </h4>
		    <p class="font-normal text-gray-700 dark:text-gray-400">
	    	Generate label with unique qr codes on each  label
		    </p>
		 <% end %>

		
	</div>
    
</section>



