<% content_for :header do %>
    <h1>Batches</h1>
    <h3>Yummie all that Coperniucsbeer</h3>
    <p><%= link_to "New batch", new_batch_path %></p>
<% end %>

  <!-- button 
    <a
      class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
      data-te-ripple-init
      data-te-ripple-color="light"
      href="#!"
      role="button"
      >Get started</a
    >-->


<main id="batches">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td><%= link_to batch.serialnumber, batch %></td>
        <td><%= batch.description %></td>
        <td><%= "#{batch.liters} liters" %></td>  
      </tr>
    <% end %>
    </tbody>
  </table>
</main>

