<p style="color: green"><%= notice %></p>

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<%=  image_tag("copernicusbeer-logo-2x.png", size: "150x150", alt: "  Edit Entry", class: "img-fluid border rounded-3 shadow-lg mb-4", loading: "lazy")  %>
