<div class="flex flex-col items-center gap-4 text-center">
    <p class="text-sm">Copernicus Beer, Made with Huzzah!</p>
    <a href="mailto:info@copernicusbeer.xyz" class="text-sm font-mono font-medium text-red-600">info@copernicusbeer.xyz</a>
    <div class="flex gap-4 text-gray-500">
        <a href="https://twitter.com/copernicusbeer">
            <span class="sr-only">Twitter</span>
            <svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor">
                <path d="M23 3.01s-2.018 1.192-3.14 1.53a4.48 4.48 0 00-7.86 3v1a10.66 10.66 0 01-9-4.53s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5 0-.278-.028-.556-.08-.83C21.94 5.674 23 3.01 23 3.01z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </a>
        <a href="https://t.me/copernicusbeer">
            <span class="sr-only">Telegram</span>
            <svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor">
                <path d="M21 5L2 12.5l7 1M21 5l-2.5 15L9 13.5M21 5L9 13.5m0 0V19l3.249-3.277" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </a>
    </div>
    <p class="text-sm text-gray-500">Copernicus Beer DAO © 2024</p>
</div>

